* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .user-input {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & label {
            color: #505050;
        }

        & input {
            padding: 14px 26px;
            border-radius: 6px;
            outline: none;
            border: 1px solid #e85b81;
            width: 100%;
        }
    }

    & #btnCalcular {
        background-color: #e85b81;
        border-radius: 6px;
        padding: 13px;
        font-weight: bold;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    & #btnCalcular:hover{
        background: color #e84671;
    }
}

.res {
    
    color: #ababab;
    text-align: center;

    & p {
        margin: auto;
        width: 245px;
    }

    display: flex;
    flex-direction: column;
    

    & div{
        display: flex;
         color: #505050;
    }
    
    & div:first-child{
        border-bottom: #e85b81 1px solid;
        padding-bottom: 10px;
       
        font-weight: 700;
     
    }

    & div:last-child{
        padding-top: 10px;
    }



}

.tabela {
    display: flex;
    width: 510px;
    /* justify-content: space-between; */
    border: #f4f4f4 1px solid;

    .imc {
        width: 260px;

        & p:nth-child(odd) {
            background-color: #f4f4f4;

        }
        & p:first-child{
            color: #e85b81;
            font-weight: 700;
        }
    }

    & .classificacao {
        width: 260px;

        & p:nth-child(odd) {
            background-color: #f4f4f4;
        }

         & p:first-child{
            color: #e85b81;
            font-weight: 700;
        }
    }

    & p {
        padding: 12px;
        width: 100%;
        color: #505050;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 88%;
    }
    main, .tabela {
        width: 100%;
        padding: 10px;
    }
    
}
@media screen and (max-width: 395px) {
    html {
        font-size: 85%;
    }
    
}
@media screen and (max-width: 380px) {
    html {
        font-size: 70%;
    }
}